[submodule "Code-Challenges/JS Error Handling/js-error-handling_calculator"]
	path = Code-Challenges/JS Error Handling/js-error-handling_calculator
	url = https://github.com/ma-mani/Code-Challenges.git
